@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
}

html, body {
    font-family: 'Alegreya+Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14.4px;
    text-rendering: optimizeLegibility;
    -web-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

header {
    background-color: whitesmoke;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80.6515533004939px;
    margin: auto;
}

header img {
    height: 180px;
}

#checkbox-menu {
    display: none;
}

.main-navigation {
    background:  #313131;
    color: #ffffff
}

.menu {
    list-style-type: none;
}

.menu-item {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #ffffff;
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu-item {
    display:block;
    padding: 10px;
    text-decoration: mone;
    color: #000000;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 1.2486269025rem;
    padding: 1.836311903rem;
    transition: all 250ms linear 0s;
    border: 2px solid whitesmoke;
}

header nav ul li a:hover {
    background: rgba(141, 245, 5, 0.5)
    
}


