/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos globais */
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
  }
  
  /* Estilos para o container dos cards */
  .card-container {
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Estilos básicos para cada card */
  .card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
    /* Efeito de hover */

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Estilos para conteúdo dentro de cada card */
.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;

}

/* Responsividade */
@media (min-width: 600px) {
    .card-container {
        justify-content: flex-start;
    }

    .card {
        margin-right: 20px;
    }
}